header {
  position: sticky;
  top: 0;

  background-color: white;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #FF3D00;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  z-index: 10;
}

.headline {
  font-size: calc(2rem + 5vw);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;

  color: #0288D1;

  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

.new-book-button {
  border-style: none;

  padding: 0.4em;
  margin-bottom: 0.1em;

  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: calc(1rem + 2vw);

  color: white;
  font-weight: bold;
  background-color: #FFEE58;

}

.book-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.book-list li {
}

.book-card {
  position: relative;

  border: 1px solid #BBDEFB;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  padding: 0.5em;

  color: #2962FF;
  font-size: calc(1rem + 0.5vw);

}

.book-card .title {
  font-size: 1.5em;
  color: #01579B;
}

.book-card p {
  margin-bottom: 0.5em;
}

.remove-book-button {
  position: absolute;
  top: 0.2em;
  right: 0.5em;

  border-style: none;

  font-size: calc(1em + 5vw);

  color: #DD2C00;
  background-color: white;
}

.field-list {
  list-style: none;
}

.field-list li {
  display: flex;
  flex-direction: column;
}
